@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바 너비 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* 다크 그레이 배경색 (bg-gray-800) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* 회색 썸 (bg-gray-600) */
  border-radius: 4px; /* 둥근 모서리 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* 호버 시 색상 변경 */
}
